
<p-dialog header="Edit Project" [(visible)]="edit">
  <form #f="ngForm" (ngSubmit)="changeStory(f)" novalidate>
    <input type="hidden" name="id" [(ngModel)]="projectToEdit.id">
    <label>Name :</label>
    <input type="text" pInputText [(ngModel)]="projectToEdit.name" name="name"/><br>
    <label>Description :</label>
    <input type="text" [(ngModel)]="projectToEdit.description" name="description"/><br>
    <label>Begin Date :</label>
    <input type="date" [(ngModel)]="projectToEdit.startDate" name="startDate"/><br>
    <label>Finish Date :</label>
    <input type="date" [(ngModel)]="projectToEdit.completionDate" name="completionDate"/>
    <br><button pButton type="button" label="Edit" (click)=changeProject(f)></button>
    <button pButton type="button" label="Close" (click)="edit=!edit"></button>
  </form>
</p-dialog>
