<table class="table" align="center">
  <tr >
    <th *ngFor="let status of statuses">{{status.name}}</th>

  </tr>
  <ng-container *ngFor="let task of tasks ">
  <tr >
   <ng-container *ngFor="let status of statuses">
    <td *ngIf="task.status==status.name" style="border: 2px solid;">Name : {{task.name}}
      <br>Remaining time : <span>{{task.duration}}</span>h
      <div>
        <button pButton type="button" class="ui-button-secondary" style="margin-left: auto" (click)="editTask(task)" icon="fa-cog" pTooltip="Edit" tooltipPosition="top"></button>
        <button pButton type="button" class="ui-button-success" (click)="assignUser(task)" icon="fa-users"  pTooltip="Assigned Users" tooltipPosition="top"></button>
        <button pButton type="button" class="ui-button-danger" (click)="deleteTask(task)" icon="fa-trash"  pTooltip="Delete" tooltipPosition="top"></button>
      </div>
    </td>
     <td *ngIf="task.status!=status.name"></td>
   </ng-container>
  </tr>

  </ng-container>


</table>


<user-assign [task]="taskToEdit" *ngIf="assign"></user-assign>

<p-dialog header="Edit Task" [(visible)]="editingTask">

    <input type="hidden" name="id" [(ngModel)]="taskToEdit.id">
    <br><label>Nazwa :</label>
    <input type="text" pInputText [(ngModel)]="taskToEdit.name" name="name"/>
    <br> <label>Czas trwania :</label>
    <input name="duration" type="number" [(ngModel)]="taskToEdit.duration">
    <br><label>Status :</label>
    <p-dropdown [options]="statusesName" [(ngModel)]="taskToEdit.status" placeholder="Select Status"  [style]="{'width':'150px'}"></p-dropdown>
    <br>
    <button pButton type="button" label="Edit" (click)=submitTask()></button>
    <button pButton type="button" label="Zamknij" (click)="editingTask=!editingTask"></button>


</p-dialog>
