<h2>Project iterations</h2>
<ul>
  <li *ngFor="let iteration of iterations ">

    <span onclick="redirect(kanbanBoard)">{{iteration.id}}</span>{{iteration.name}}
    <a [routerLink]="['/kanbanBoard']"[queryParams]="{iterationId: iteration.id}">Widok tablicy</a>
    <p-splitButton label="Details" icon="fa-cog" (onClick)="goToBoard(iteration.id)" [model]="items" ></p-splitButton>
  </li>

</ul>
<button [disabled]="loading" class="btn btn-primary" (click)="createIteration=!createIteration"> New Iteration </button>
<create-iteration [createIteration]="createIteration" [currentProject]="this.currentProject"></create-iteration>
