<h2>Project iterations</h2>
<ul>
  <li *ngFor="let iteration of iterations " (click)="selectedIteration=iteration">
    {{iteration.name}}
    <p-splitButton label="Board View" icon="fa-cog" (onClick)="goToBoard(iteration.id)" [model]="items" ></p-splitButton>
  </li>

</ul>
<button [disabled]="loading" class="btn btn-primary" (click)="createIteration=!createIteration"> New Iteration </button>
<create-iteration [createIteration]="createIteration" [currentProject]="this.currentProject" (onSubmit)="ngOnInit()"></create-iteration>
<iteration-detail [iteration]="selectedIteration" *ngIf="showDetails"></iteration-detail>
