

  <p-dialog header="Title" [(visible)]="create">
  <div>
      <h2>Nowy Projekt</h2>
      <form name="form" (ngSubmit)="newProject()" #f="ngForm" novalidate>
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" required />



        <label for="description">Description</label>
        <input type="text" class="form-control" name="description" [(ngModel)]="model.description" #description="ngModel" required />



        <label for="startDate">Starting Date</label>
        <input type="date" class="form-control" name="startDate" [(ngModel)]="model.startDate" #startDate="ngModel" required />
        <label for="completionDate">Completion Date</label>
        <input type="date" class="form-control" name="completionDate" [(ngModel)]="model.completionDate" #completionDate="ngModel" required />

              <button [disabled]="loading" class="btn btn-primary">Stwórz</button>

      </form>
  </div>
  </p-dialog>

