

  <p-dialog header="Create Project" [(visible)]="create">
    <form #f="ngForm" (ngSubmit)="changeStory(f)" novalidate>
      <input type="hidden" name="id" [(ngModel)]="model.id">
      <label>Name :</label>
      <input type="text" pInputText [(ngModel)]="model.name" name="name"/><br>
      <label>Description :</label>
      <input type="text" [(ngModel)]="model.description" name="description"/><br>
      <label>Begin Date :</label>
      <input type="date" [(ngModel)]="model.startDate" name="startDate"/><br>
      <label>Finish Date :</label>
      <input type="date" [(ngModel)]="model.completionDate" name="completionDate"/>
      <br><button pButton type="button" label="Create" (click)=newProject(f)></button>
      <button pButton type="button" label="Close" (click)="create=!create"></button>
    </form>
  </p-dialog>

