<div class="col-sm-2">
  MENU
</div>
<div  class="col-md-8">
  <h2>My Projects</h2>
  <ul class="heroes">
    <li *ngFor="let project of projects "
        (click)="onSelect(project)"
        [class.selected]="task === selectedTask">
      <span class="badge">{{project.id}}</span>{{project.name}}
    </li>
    <button [disabled]="loading" class="btn btn-primary" (click)="create=!create">
      <span *ngIf="create">Zamknij</span>
      <span *ngIf="!create">Nowy Projekt</span>
    </button>
    <project-detail [project]="selectedProject"></project-detail>

    <create-project [create]="create"></create-project>

  </ul>
  <p><a [routerLink]="['/']">Powrót</a></p>
</div>
