
<div *ngIf="project" >

  <h2>Szczegóły {{project.name}}</h2>

  <div><label>Id: </label>{{project.id}}</div>
  <div><label>Nazwa : </label>{{project.name}}</div>
  <div><label>Data rozpoczęcia : </label>{{project.startDate | date:'fullDate' }}</div>
  <div><label>Data zakończenia : </label>{{project.completionDate | date:'fullDate' }}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="project.name" placeholder="name">
    <input [(ngModel)]="project.id" placeholder="id">
  </div>
  <iteration [currentProject]="project.id"></iteration>
  <br>
  <button [disabled]="loading" class="btn btn-primary" (click)="this.project=null">Zamknij</button>
</div>
